#nav {
display: flex;
height: 90px;
background-color: #2c6c91;
color: #f8e2e2;
padding: 0 1.5rem;
position: fixed;
width: 100%;
top: 0%;
left: 0%;
justify-content: space-between;
z-index: 2;
align-items: center;
}
  span {
  font-family: 'Bungee', cursive;
}
i {
  color: rgb(255, 0, 89);
}
.create-tweet {
  text-align:center;
}