textarea{
  border-bottom: 5px solid black;
  font-size: 15px;
  background-color: #f0e8dc;
  border-top: none;
  border-right: none;
  border-left: none;
 }

.label{
  padding-bottom: 5px;
  margin-bottom: 5px solid black;
  font-size: 30px;
  font-weight: bold;
}
.button-counter{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 10px;
  margin-bottom: 50px;
  font-family: 'Bungee', cursive;
}
