article {
  margin: 50px 0px 50px 0px;
  border:solid 3px;
  padding: 15px;
  
}

article:hover{
  box-shadow: 5px 5px #d0d9e2;
}

article.tweet header {
  display: flex;
  justify-content:space-between;
  background-color: #f0e8dc;
 
}

.user-info {
  display: flex;
 
}

.user-info img {
  margin: 10px 10px 10px 0px;
  
}


.username {
  color:#465b77;
  font-weight: 200;
  
}

.tweet-display {
  font-weight: 600;
}

article.tweet footer {
  border-top: 3px solid;
  display: flex;
  justify-content: space-between;
}

.tweet-icons {
  margin-top: 34px;
}

.tweet-icons i {
  margin: 5px;
  color: #237596;
}

.tweet-icons i:hover {
  color:#ab8000;
}